{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Pix by Jade</title>
  </head>
  <body style="text-align: center; background-image: linear-gradient(to right, #d4bad8, #bc6eca);">

    <!--NAVIGATION BAR, NAV LINKS AND COMPANY LOGO/TITLE-->

      <nav class="navbar navbar-expand-xl" style="background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da); height: 200px;">  <!--large height used to compensate for mobile responsiveness-->
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">What I Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews & Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Me</a>
          </li>
        </ul>
        
      </nav>

    


    <!--BEGIN CONTENT-->
    <div id="primary" class="text-center">
      <div class="centered">Pix by Jade: Transform your online image today!</div>
    </div>

    <!--SERVICES AND AGENT CAPABILITIES-->
    <div class="container-fluid">
      <i><h2 style="margin-bottom: 30px; margin-top: 60px; color: #3F3F3F;">What I Do</h2></i>

      <div class="card-deck">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="{% static 'img/pexels-photomix-company-212372.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Custom Photo Shoot Locations</h5>
            <p class="card-text" style="text-align: left;">No matter what the occasion is we can personalize the one hour session in a variety of ways to enhance the environment surrounding your pictures. I am committed to helping you fall in love with yourself!</p>
            <button class="btn btn-outline-primary" type="submit">Book a Session</button>
          </div>
        </div>
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="{% static 'img/pexels-caio-56759.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Photo Editing</h5>
            <p class="card-text" style="text-align: left;">Looking for a small change or like a specific filter?  Not to worry as I can provide you with a range of options that can add the extra touch you might be looking for to really make that picture have a lasting impact.</p>
            <button class="btn btn-outline-primary" type="submit">Book a Session</button>
          </div>
        </div>
        <div class="card  shadow-sm p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="{% static 'img/pexels-vitaly-vlasov-1655817.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Professional Equipment</h5>
            <p class="card-text" style="text-align: left;">In order to guarantee the best pictures for you and yours, I utilize professional camera equipment and editing software to ensure your photos receive optimal care and satisfaction.</p>
            <button class="btn btn-outline-primary" type="submit">Book a Session</button>

          </div>
        </div>
      </div>
    </div>

    <!--REVIEWS AND TESTIMONIAL SECTION-->

    <div class="container-fluid" id="reviews" style="background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da);">
      <i><h2 style="margin-bottom: 30px; margin-top: 30px; color: #3F3F3F;">Hear From Past Customers!</h2></i>

      <div class="card-deck"  style="margin-bottom: 30px;">
        <div class="card" style="width: 18rem;background-image: linear-gradient(to right, #d4bad8, #bc6eca);">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; color: #3F3F3F;">Dallas P.</h5>
            <p class="card-text"><i>Right from the start I felt like I was in good hands having Jade take my first pictures in quite a while.  I am beyond happy with how they turned out!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- July 2020</i></h6>
          </div>
        </div>

        <div class="card" style="width: 18rem;background-image: linear-gradient(to right, #d4bad8, #bc6eca);">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; color: #3F3F3F;">David K.</h5>
            <p class="card-text"><i>I was unsure of how these were going to turn out, but Jade's input put them over the top for me, well done!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- October 2020</i></h6>
          </div>
        </div>

        <div class="card" style="width: 18rem;background-image: linear-gradient(to right, #d4bad8, #bc6eca);">
          <div class="card-body">
            <h5 class="card-title"  style="text-align: left; color: #3F3F3F;">Candice S.</h5>
            <p class="card-text"><i>Our couple photos turned out amazing.  Thank you Jade for your location suggestions, they make a beautiful background!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- January 2021</i></h6>
          </div>
        </div>
      </div>
    </div>

    <!--PREVIOUS WORK COLLECTION-->



    <!--FOOTER, CONTACT, CREATOR AND ACCREDITION LINKS-->

    <footer class="text-center">
      <h3>Connect with me</h3>
      <img src="https://img.icons8.com/color/48/000000/twitter-squared.png"/>
      <img src="https://img.icons8.com/nolan/48/facebook.png"/>
      <img src="https://img.icons8.com/fluent/48/000000/gmail--v1.png"/>
      <br><a href="https://icons8.com/icons/set/popular">All icons provided by Icons8</a>
      <p>Created by - Dallas Pataska - <a href="https://www.linkedin.com/in/dallas-pataska/">LinkedIn</a></p>
    </footer>

  </body>
</html>