{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Pix by Jade</title>
    <link rel="icon" type="image/jpg" href="{% static 'img/primary.jpg' %}"/>
  </head>
  <style>
    body {
      font-family: Arial;
      margin: 0;
    }
    
    * {
      box-sizing: border-box;
    }
    
    img {
      vertical-align: middle;
    }
    
    /* Position the image container (needed to position the left and right arrows) */
    .container {
      position: relative;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      display: flex;
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      margin-right: 16px;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* Container for image text */
    .caption-container {
      text-align: center;
      background-color: #222;
      padding: 2px 16px;
      color: white;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 16.66%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
    </style>
  <body style="text-align: center; line-height: 1.25; background-image: linear-gradient(to right, #F5F9FC, #EFF2F4);">

    <!--NAVIGATION BAR, NAV LINKS AND COMPANY LOGO/TITLE-->
    <nav class="navbar navbar-expand-xl" style="height: 150px; justify-content: center; background-color: #3F3F3F;">  <!--large height used to compensate for mobile responsiveness-->
      <a class="navbar-brand" style="margin: 0px;">
        <img class="rounded-circle" src="{% static 'img/primary.jpg' %}" width="125" height="125" alt="primary">
      </a>
    </nav>


    <nav class="navbar sticky-top nav-pills flex-column shadow-lg flex-sm-row" style="width: 100%; background-color: #3F3F3F; border-top-style: solid; border-bottom-style: solid; border-bottom-width: 3px;">
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#services">What I do</a>
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#reviews">Reviews & Testimonials</a>
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#portfolio">Portfolio</a>
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#book_session">Contact Me</a>
    </nav>



    <!--BEGIN CONTENT-->
    <div id="primary" class="text-center">
      <div class="centered"></div>
    </div>

    <!--SERVICES AND AGENT CAPABILITIES-->
    <div id="services" class="container-fluid"style="background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da); padding-top: 50px;">
      <i><h2 style="margin-bottom: 30px; color: #3F3F3F;">What I Do</h2></i>

      <div class="card-deck">
        <div class="card shadow-sm p-3 mb-5  rounded" style="background:rgba(236, 236, 236, 0.685);">
          <img class="card-img-top" src="{% static 'img/pexels-photomix-company-212372.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Custom Photo Shoot Locations</h5>
              <p class="card-text" style="text-align: left;">No matter what the occasion is we can personalize the one hour session in a variety of ways to enhance the environment surrounding your pictures. I am committed to helping you fall in love with yourself!</p>
              <a href="#book_session"><button class="btn btn-outline-primary" type="button">Book a Session</button></a>
            </div> 
        </div>  
        <div class="card shadow-sm p-3 mb-5 rounded" style="background:rgba(236, 236, 236, 0.685);">
          <img class="card-img-top" src="{% static 'img/pexels-caio-56759.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Photo Editing</h5>
            <p class="card-text" style="text-align: left;">Looking for a small change or like a specific filter?  Not to worry as I can provide you with a range of options that can add the extra touch you might be looking for to really make that picture have a lasting impact.</p>
            <a href="#portfolio"><button class="btn btn-outline-primary" type="button">See Portfolio</button></a>
          </div>
        </div>
        <div class="card  shadow-sm p-3 mb-5 rounded" style="background:rgba(236, 236, 236, 0.685);">
          <img class="card-img-top" src="{% static 'img/pexels-vitaly-vlasov-1655817.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Professional Equipment</h5>
            <p class="card-text" style="text-align: left;">In order to guarantee the best pictures for you and yours, I utilize professional camera equipment and editing software to ensure your photos receive optimal care and satisfaction.</p>
            <a href="#reviews"><button class="btn btn-outline-primary" type="button">See Past Reviews</button></a>
          </div>
        </div>
      </div>



    </div>

    <!--REVIEWS AND TESTIMONIAL SECTION-->

    <div id="reviews" class="container-fluid" id="reviews" style="background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da); padding-top: 50px;">
      <i><h2 style="margin-bottom: 30px; margin-top: 15px; color: #3F3F3F;">Hear From Past Clients!</h2></i>

      <div class="card-deck"  style="margin-bottom: 30px;">
        <div class="card" style="width: 16rem; background-color: #3F3F3F;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; color: ghostwhite;">Dallas P.</h5>
            <p class="card-text" style="color: azure;"><i>Right from the start I felt like I was in good hands having Jade take my first pictures in quite a while.  I am beyond happy with how they turned out!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- July 2020</i></h6>
          </div>
        </div>

        <div class="card" style="width: 16rem; background-color: #3F3F3F;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; color: ghostwhite;">David K.</h5>
            <p class="card-text" style="color: azure;"><i>I was unsure of how these were going to turn out, but Jade's input put them over the top for me, well done!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- October 2020</i></h6>
          </div>
        </div>

        <div class="card" style="width: 16rem; background-color: #3F3F3F;">
          <div class="card-body">
            <h5 class="card-title"  style="text-align: left; color: ghostwhite;">Candice S.</h5>
            <p class="card-text" style="color: azure;"><i>Our couple photos turned out amazing.  Thank you Jade for your location suggestions, they make a beautiful background!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- January 2021</i></h6>
          </div>
        </div>
      </div>
    </div>

    <!--Portfolio WORK COLLECTION-->
    <div id="portfolio" class="container-fluid" id="portfolio" style="padding: 0px; background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da); padding-top: 50px;">
      <i><h2 style="margin-bottom: 45px; margin-top: 15px; color: #3F3F3F;">Portfolio | Photo Collection</h2></i>
    </div>

    <div class="container shadow-lg" style="max-width: fit-content; padding-top: 40px; padding-bottom: 40px; background-color: #3F3F3F; border-bottom-style: solid; border-top-style: solid; border-bottom-width: 3px;">
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="{% static 'img/portfolio-1.jpg' %}" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="{% static 'img/portfolio-2.jpg' %}" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="{% static 'img/portfolio-3.jpg' %}" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="{% static 'img/portfolio-4.jpg' %}" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="{% static 'img/portfolio-5.jpg' %}" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="{% static 'img/portfolio-6.jpg' %}" style="width:100%">
      </div>
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    
      <div class="row" style="display: inline;">
        <div class="column">
          <img class="demo cursor" src="{% static 'img/portfolio-1.jpg' %}" style="width:100%" onclick="currentSlide(1)" alt="Oh Deer!">
        </div>
        <div class="column">
          <img class="demo cursor" src="{% static 'img/portfolio-2.jpg' %}" style="width:100%" onclick="currentSlide(2)" alt="Warm Crackling of the hearth">
        </div>
        <div class="column">
          <img class="demo cursor" src="{% static 'img/portfolio-3.jpg' %}" style="width:100%" onclick="currentSlide(3)" alt="Oh Deer! 2">
        </div>
        <div class="column">
          <img class="demo cursor" src="{% static 'img/portfolio-4.jpg' %}" style="width:100%" onclick="currentSlide(4)" alt="What are these?">
        </div>
        <div class="column">
          <img class="demo cursor" src="{% static 'img/portfolio-5.jpg' %}" style="width:100%" onclick="currentSlide(5)" alt="Minneapolis, MN">
        </div>    
        <div class="column">
          <img class="demo cursor" src="{% static 'img/portfolio-6.jpg' %}" style="width:100%" onclick="currentSlide(6)" alt="USA">
        </div>
      </div>
    </div>
      

    <!--GET IN CONTACT WITH ME ---- BOOK A SESSION-->
    <div id="book_session" class="container-fluid" id="portfolio" style="padding-top: 50px;">
      <i><h2 style="margin-bottom: 30px; margin-top: 15px; color: #3F3F3F;">Interested? Fill out the form below for more info!</h2></i>
    </div>

    <div class="container-fluid" style="text-align: center; padding-top: 30px; padding-right: 0px; padding-left: 0px;">
      <form style="display: inline-grid; text-align: -webkit-center; line-height: 1.5;" method="POST" required>
        {% csrf_token %}
        {{form}}
        <div class="form-group" style="width: 75%; display: inline-grid; margin-top: 10px;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" style="padding-bottom: 10px;" for="invalidCheck" style="font-size: 10px;">
              I acknowledge that it may take 24-48 hours to receive a response to my message
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        <input type="submit" class="btn btn-primary" value="Send"/>
      </form>
    </div>
    

    <!--FOOTER, CONTACT, CREATOR AND ACCREDITION LINKS-->
      <footer class="text-center" style=" padding-right: 0px; padding-left: 0px; background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da);">
        <h3 style="margin-bottom: 15px; padding-top: 40px; color: #3F3F3F;">Find me elsewhere!</h3>
        <address style="color: #3F3F3F; margin: 0px;">
          105 Fillmore St W, Preston, MN 55965
        </address>
        <p>(507)-460-8444</p>
        <ul style="list-style: none; display: inline-flex; padding-inline-start: 0px; padding-bottom: 5px;">
          <li><a href="https://www.instagram.com/pix_by_jade/"><img src="https://img.icons8.com/nolan/48/instagram-new.png"/></a></li>
          <li><a href="https://twitter.com/PixbyJade"><img src="https://img.icons8.com/nolan/48/twitter.png"/></a></li>
          <li><a href="mailto:nelsonj@pixbyjade.com"><img src="https://img.icons8.com/nolan/48/gmail.png"/></a></li>
        </ul>
      </footer>
      <footer class="text-center" style="background-image: linear-gradient(to right,  rgb(231, 231, 238), #d9d8da);">
        <br><a href="https://icons8.com/icons/set/popular" style="font-size: 12px;">All icons provided by Icons8</a>
        <p style="color: #3F3F3F; font-size: 12px;">Created by - Dallas Pataska - <a href="https://www.linkedin.com/in/dallas-pataska/">LinkedIn</a></p>
      </footer>
    <!--SCRIPTS-->

    <script>
      var slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
      }
      </script>

  </body>
</html>