{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Pix by Jade</title>
    <link rel="icon" type="image/jpg" href="{% static 'img/primary.jpg' %}"/>
  </head>
  <body style="text-align: center; line-height: 1.25; background-image: linear-gradient(to right, #F5F9FC, #EFF2F4);">

    <!--NAVIGATION BAR, NAV LINKS AND COMPANY LOGO/TITLE-->
    <nav class="navbar navbar-expand-xl" style="height: 150px; justify-content: center; background-color: #8b006c;">  <!--large height used to compensate for mobile responsiveness-->
      <a class="navbar-brand" style="margin: 0px;">
        <img class="rounded-circle" src="{% static 'img/primary.jpg' %}" width="125" height="125" alt="primary">
      </a>
    </nav>


    <nav class="navbar sticky-top nav-pills flex-column shadow-lg flex-sm-row" style="width: 100%; background-color: #8b006c; border-top-style: solid; border-bottom-style: solid; border-bottom-width: 3px;">
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#services">What I do</a>
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#reviews">Reviews & Testimonials</a>
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#portfolio">Portfolio</a>
      <a  class="flex-sm-fill text-sm-center nav-link"  style="color: ghostwhite;" href="#book_session">Contact Me</a>
    </nav>



    <!--BEGIN CONTENT-->
    <div id="primary" class="text-center">
      <div class="centered"></div>
    </div>

    <!--SERVICES AND AGENT CAPABILITIES-->
    <div id="services" class="container-fluid"style="background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da); padding-top: 50px;">
      <i><h2 style="margin-bottom: 30px; color: #3F3F3F;">What I Do</h2></i>

      <div class="card-deck">
        <div class="card shadow-sm p-3 mb-5  rounded" style="background:rgba(236, 236, 236, 0.685);">
          <img class="card-img-top" src="{% static 'img/pexels-photomix-company-212372.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Custom Photo Shoot Locations</h5>
              <p class="card-text" style="text-align: left;">No matter what the occasion is we can personalize the one hour session in a variety of ways to enhance the environment surrounding your pictures. I am committed to helping you fall in love with yourself!</p>
              <a href="#book_session"><button class="btn btn-outline-primary" type="button">Book a Session</button></a>
            </div> 
        </div>  
        <div class="card shadow-sm p-3 mb-5 rounded" style="background:rgba(236, 236, 236, 0.685);">
          <img class="card-img-top" src="{% static 'img/pexels-caio-56759.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Photo Editing</h5>
            <p class="card-text" style="text-align: left;">Looking for a small change or like a specific filter?  Not to worry as I can provide you with a range of options that can add the extra touch you might be looking for to really make that picture have a lasting impact.</p>
            <a href="#portfolio"><button class="btn btn-outline-primary" type="button">See Portfolio</button></a>
          </div>
        </div>
        <div class="card  shadow-sm p-3 mb-5 rounded" style="background:rgba(236, 236, 236, 0.685);">
          <img class="card-img-top" src="{% static 'img/pexels-vitaly-vlasov-1655817.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Professional Equipment</h5>
            <p class="card-text" style="text-align: left;">In order to guarantee the best pictures for you and yours, I utilize professional camera equipment and editing software to ensure your photos receive optimal care and satisfaction.</p>
            <a href="#reviews"><button class="btn btn-outline-primary" type="button">See Past Reviews</button></a>
          </div>
        </div>
      </div>



    </div>

    <!--REVIEWS AND TESTIMONIAL SECTION-->

    <div id="reviews" class="container-fluid" id="reviews" style="background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da); padding-top: 50px;">
      <i><h2 style="margin-bottom: 45px; margin-top: 15px; color: #3F3F3F;">Hear From Past Clients!</h2></i>

      <div class="card-deck"  style="margin-bottom: 30px;">
        <div class="card" style="width: 16rem; background-image: linear-gradient(to right, #d4bad8, #8b006dc4, #d4bad8);">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; color: #3F3F3F;">Dallas P.</h5>
            <p class="card-text"><i>Right from the start I felt like I was in good hands having Jade take my first pictures in quite a while.  I am beyond happy with how they turned out!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- July 2020</i></h6>
          </div>
        </div>

        <div class="card" style="width: 16rem;background-image: linear-gradient(to right, #d4bad8, #8b006dc4, #d4bad8);">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; color: #3F3F3F;">David K.</h5>
            <p class="card-text"><i>I was unsure of how these were going to turn out, but Jade's input put them over the top for me, well done!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- October 2020</i></h6>
          </div>
        </div>

        <div class="card" style="width: 16rem;background-image: linear-gradient(to right, #d4bad8, #8b006dc4, #d4bad8);">
          <div class="card-body">
            <h5 class="card-title"  style="text-align: left; color: #3F3F3F;">Candice S.</h5>
            <p class="card-text"><i>Our couple photos turned out amazing.  Thank you Jade for your location suggestions, they make a beautiful background!</i></p>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align: right;"><i>- January 2021</i></h6>
          </div>
        </div>
      </div>
    </div>

    <!--Portfolio WORK COLLECTION-->
    <div id="portfolio" class="container-fluid" id="portfolio" style="padding: 0px; background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da); padding-top: 50px;">
      <i><h2 style="margin-bottom: 45px; margin-top: 15px; color: #3F3F3F;">Portfolio | Past Work</h2></i>
    </div>

    <div class="container-fluid shadow-lg" style="width: 100%; padding-top: 40px; padding-bottom: 40px; background-color: #8b006d; border-bottom-style: solid; border-top-style: solid; border-bottom-width: 3px;">
      <div class="row" style="margin-bottom: 15px; margin-top: 15px;">
        <div class="col-sm" style="padding: 0px; margin-bottom: 5px;">
          <img style="padding: 5px;" class="rounded shadow-lg img-fluid" src="{% static 'img/portfolio-1.jpg' %}" alt="Deer">
        </div>
        <div class="col-sm" style="padding: 0px; margin-bottom: 5px;">
          <img style="padding: 5px;" class="rounded shadow-lg img-fluid" src="{% static 'img/portfolio-2.jpg' %}" alt="Fire">
        </div>
        <div class="col-sm" style="padding: 0px; margin-bottom: 5px;">
          <img style="padding: 5px;" class="rounded shadow-lg img-fluid" src="{% static 'img/portfolio-3.jpg' %}" alt="Deer-2">
        </div>
      </div>
      <i><h2 style="margin-top: 20px; margin-bottom: 40px; color: ghostwhite;">Any environment, any backdrop</h2></i>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-sm" style="padding: 0px; margin-bottom: 5px;">
          <img style="padding: 5px;" class="rounded shadow-lg img-fluid" src="{% static 'img/portfolio-4.jpg' %}" alt="Deer">
        </div>
        <div class="col-sm" style="padding: 0px; margin-bottom: 5px;">
          <img style="padding: 5px;" class="rounded shadow-lg img-fluid" src="{% static 'img/portfolio-6.jpg' %}" alt="Fire">
        </div>
        <div class="col-sm" style="padding: 0px; margin-bottom: 5px;">
          <img style="padding: 5px;" class="rounded shadow-lg img-fluid" src="{% static 'img/portfolio-5.jpg' %}" alt="Deer-2">
        </div>
      </div>
    </div>
      

    <!--GET IN CONTACT WITH ME ---- BOOK A SESSION-->
    <div id="book_session" class="container-fluid" id="portfolio" style="padding-top: 50px;">
      <i><h2 style="margin-bottom: 30px; margin-top: 15px; color: #3F3F3F;">Interested? Fill out the form below for more info!</h2></i>
    </div>

    <div class="container-fluid" style="text-align: center; padding-bottom: 40px; padding-top: 30px;">
      <form class="needs-validation" style="text-align: -webkit-center;" novalidate>
        <div class="form-group" style="margin: 0px; padding-left: 0px; padding-right: 0px;">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name:</label>
            <input type="text" class="form-control" style="width: 50%;" id="validationCustom01" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name:</label>
            <input type="text" class="form-control" style="width: 50%;" id="validationCustom02" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom03">Email address:</label>
            <input type="text" class="form-control" style="width: 75%;" id="validationCustom03" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Please include a short description of the service you are interested in:</label>
            <textarea type="text" rows="8" cols="75" class="form-control" id="validationCustom04" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck" style="font-size: 12px;">
              I understand and acknowledge that it may take 24-48 hours to receive a response to my message
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    

    <!--FOOTER, CONTACT, CREATOR AND ACCREDITION LINKS-->
      <footer class="text-center" style="background-image: linear-gradient(to right, rgb(231, 231, 238), #d9d8da);">
        <h3 style="margin-bottom: 15px; padding-top: 40px; color: #3F3F3F;">Find me elsewhere!</h3>
        <address style="color: #3F3F3F; margin: 0px; padding-bottom: 15px;">
          105 Fillmore St W, Preston, MN 55965
        </address>
        <ul style="list-style: none; display: inline-flex; padding-inline-start: 0px; padding-bottom: 5px;">
          <li><a href="https://www.instagram.com/pix_by_jade/"><img src="https://img.icons8.com/nolan/48/instagram-new.png"/></a></li>
          <li><a href="https://twitter.com/PixbyJade"><img src="https://img.icons8.com/nolan/48/twitter.png"/></a></li>
          <li><a href="mailto:nelsonj@pixbyjade.com"><img src="https://img.icons8.com/nolan/48/gmail.png"/></a></li>
        </ul>
      </footer>
      <footer class="text-center" style="background-image: linear-gradient(to right,  rgb(231, 231, 238), #d9d8da);">
        <br><a href="https://icons8.com/icons/set/popular" style="font-size: 12px;">All icons provided by Icons8</a>
        <p style="color: #3F3F3F; font-size: 12px;">Created by - Dallas Pataska - <a href="https://www.linkedin.com/in/dallas-pataska/">LinkedIn</a></p>
      </footer>
    <!--SCRIPTS-->

    <script>
      // Below was pulled from bootstrap documentation to aid in setting up form validation
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>

  </body>
</html>