/*! Make changes here to change css styling applied over boostrap css
*/
h1 {
    text-align: center;
}
body {
    text-align: center;
    background-color: #FAE8FA;
}
.container-fluid {
    display: inline-block;
}
.card {
    display: inline-block;
}